<p>Ciao <%= @name %>, benvenuto su questo fantastico Marketplace!</p>
<p>Hai ricevuto questa mail perchè è appena stato creato un profilo utente per te. <br/>
Tra poco riceverai una mail con le istruzioni per impostare la tua password di accesso.<br/> 
</p>