<form action="/auth/password.json" method="post" id="reset_pswd_form">
    Password:<br>
    <input type="password" name="password" required><br>
    Password Confirmation:<br>
    <input type="password" name="password_confirmation" required><br><br>
    <input type="button" value="Submit" onclick="sendForm()">
</form>

<script>
    function sendForm() {
        
        //retrieve the form
        var resetForm = document.getElementById("reset_pswd_form");

        //retrieve the values
        var password = resetForm.elements["password"].value;
        var passwordConfirmation = resetForm.elements["password_confirmation"].value;
        var uid = "<%=@uid%>";
        var clientId = "<%=@client_id%>";
        var token = "<%=@token%>";
        var expiry = "<%=@expiry%>";

        if(password != passwordConfirmation) {

            //Check if password and confirmation match
            alert("password and password confirmation does not match")

        }else{
        
            //build the request
            var xhr = new XMLHttpRequest();

            xhr.open("PUT", "/auth/password", true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.setRequestHeader("uid", uid);
            xhr.setRequestHeader("client", clientId);
            xhr.setRequestHeader("access-token", token);
            xhr.setRequestHeader("expiry", expiry);
            xhr.setRequestHeader("token-type", "Bearer");
            
            params = JSON.stringify({password: password, password_confirmation: passwordConfirmation})

            //response callback
            var jsonResponse;
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    jsonResponse = JSON.parse(xhr.responseText)
                    
                    if (jsonResponse.success == true){
                        alert("La tua password è stata modificata correttamente")
                    }else{
                        alert("Si è verificato un errore, assicurati che la password sia lunga almeno 8 caratteri")
                    }
                }
            }

            xhr.send(params);

        }

    }
</script>


